{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2021
    },
    "rules": {
        "semi": ["error", "never"],
        "quotes": ["error", "single"]
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"       
        
    ]
}